	<section>
	<br>
	<h2 class="tit7 t-center" style="font-size: 40px;">
			About Us
		</h2>
		<hr>
</section>
	<!-- Our Story -->
	<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
		<span class="tit2 t-center">
			Indian Restaurant
		</span>

		<h3 class="tit3 t-center m-b-35 m-t-5">
			Our Story
		</h3>

		<p class="t-center size32 m-l-r-auto">
			Known across the country for its delectable Frontier, Punjabi & Lucknowi food, PIND BALLUCHI is a name that spells exhilaration and satisfaction. With over two decades of journey in the hospitality industry, the brand has made a mark for itself. Owning 5+ National Awards to its credit & 40+ Restaurants in over 15 states, PIND BALLUCHI surely leaves an everlasting impression on one’s mind and heart whenever one steps in. 

Right from the holistic experience of Punjab’s soulful cuisines to the Village Themed Ambience, the restaurants are ideal hotspots if one chooses to dine in a place that transports one to the quintessential Pind in Punjab.  Our dishes are curated with the finest of ingredients, fresh herbs & spices, with great attention paid to the recipes to evolve authentic flavours of the cuisine. Laden with culture, tradition and age-old warmth of Indian hospitality, PIND BALLUCHI is a culinary experience that you will treasure for life.
		</p>
	</section>

	<!-- Delicious & Romantic-->
	<section class="bg1-pattern p-t-120 p-b-105">
		<div class="container">
			<!-- Delicious -->
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-delicious t-center">
						<span class="tit2 t-center">
							Delicious
						</span>

						<h3 class="tit3 t-center m-b-35 m-t-5">
							FOODS
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							PIND BALLUCHI serves more than 100 varieties from the cuisines of North India to satiate your taste buds and has become a trend setter in this genre, sporting a menu that one can try any hour of the day. Serving the specialty cuisine from the provinces of Punjab, Himanchal and Rajasthan, the menu of the restaurant is specially designed keeping in view the requisites of all the North Indian Food Hunters.

The beverages are made to quench the thirst of the customers, which particularly include Tomato & Chicken ka shorba.

The assortment of kebab preparations is absolutely delectable and some of the must haves are the Kalmi Kebab, Tangri Kebab, Pind Boti Kebab, Dahi Ke Kebab and Mushroom Kurkure.

For the main course, the chefs have created an array of mouth watering preparations like Jalandhari Raan, Amritsari Fish, Murgh Potli, Dohra Kebab, Dhaba Meat, Dhania Murgh and Saagwala Murgh. There are more than 20 varieties of Chicken alone in a special Murgh menu.
						</p>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-delicious size2 bo-rad-10 hov-img-zoom m-l-r-auto">
						<img src="./public/images/intro-02.jpg" alt="IMG-OUR">
					</div>
				</div>
			</div>


			<!-- Romantic -->
			<div class="row p-t-170">
				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-romantic size2 bo-rad-10 hov-img-zoom m-l-r-auto">
						<img src="./public/images/intro-01.jpg" alt="IMG-OUR">
					</div>
				</div>

				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-romantic t-center">
						<span class="tit2 t-center">
							Village Themed
						</span>

						<h3 class="tit3 t-center m-b-35 m-t-5">
							Ambience
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							PIND BALLUCHI is the ideal place to satiate all your North Indian food cravings and transport you into the quintessential Pind of Punjab. The experience starts from the entrance itself where effigy of traditionally attired Sardar Ji is sitting on a Manji (traditional cot) and Durban (a janitor) in a typical Punjabi dress welcomes you with a ‘Sat Sri Akal’. The traditional entrance doors, jharokhas, wooden chairs and lanterns add on to the entire village set up along with the waiters of the restaurant who are attired in a traditional uniform.

Artificial Banyan Tree under the romantic and cozy moonlit sky effects, mud plastered walls, jharokhas with dazzling hanging beads and bangles play a vital role in enhancing aesthetics of the restaurant. All the outlets are a fine example of balance where traditional and the modern design elements co-exist in natural harmony with five elements of nature: air, water, earth, fire and, ether. The open kitchen which is a focal point of the restaurant, gives PIND BALLUCHI its heart and soul, and exudes a feeling of dining in a virtual food factory.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Chef -->
	<section class="section-chef bgwhite p-t-115 p-b-95">
		<div class="container t-center">
			<span class="tit2 t-center">
				Meet Our
			</span>

			<h3 class="tit5 t-center m-b-50 m-t-5">
				Team
			</h3>

			<div class="row">
				<div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
					<!-- -Block5 -->
					<div class="blo5 pos-relative p-t-60">
						<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
							<a href=""><img src="./public/images/avatar-04.jpg" alt="IGM-AVATAR"></a>
						</div>

						<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
							<a href="" class="txt34 dis-block p-b-6">
								Jaspal Singh
							</a>

							<span class="dis-block t-center txt35 p-b-25">
								Chairman
							</span>

							<p class="t-center">
								Since its launch, in 1992 the company has rapidly grown to become a dynamic force in the hospitality industry in Delhi NCR and has recently started spreading its wings across the country through franchise routes. Shri. JS Chadha has been in the industry for the last 24 years.
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
					<!-- -Block5 -->
					<div class="blo5 pos-relative p-t-60">
						<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
							<a href=""><img src="./public/images/avatar-05.jpg" alt="IGM-AVATAR"></a>
						</div>

						<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
							<a href="" class="txt34 dis-block p-b-6">
								Bhupendar Singh
							</a>

							<span class="dis-block t-center txt35 p-b-25">
								Managing Director
							</span>

							<p class="t-center">
								Groomed by exposure to the food business with the family owned chain of Restaurants. This has given him a sturdy foundation for managing operations with Food Safety and Quality remaining at the core, coupled with over five years' rich experience with the US & UK based restaurant chains.
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
					<!-- -Block5 -->
					<div class="blo5 pos-relative p-t-60">
						<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
							<a href=""><img src="./public/images/avatar-06.jpg" alt="IGM-AVATAR"></a>
						</div>

						<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
							<a href="" class="txt34 dis-block p-b-6">
								Jaggit Singh
							</a>

							<span class="dis-block t-center txt35 p-b-25">
								Director/COO
							</span>

							<p class="t-center">
								Under his stewardship as a Director and COO, PIND BALLUCHI has entered into tie-up with Hindustan Liver Limited for uniformity and quality consistence, and has made tremendous strides in the Fine Dining Restaurants segment by strictly focusing on FSSAI certified and HACCP compliant operations.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>