<div class="row">
<div class="col-md-4"></div>
<div class="jumbotron col-md-4">
<br>
            <h3><strong>Table Reservation</strong></h3>
            <hr>
          <form ng-submit="tablecancel(codename)">
            <div class="form-group">
            <label class="control-label">Code Name</label>
            <input type="text" placeholder="Code Name" ng-model="codename" class="form-control">
            </div>
            <br>
            <div class="text-right">
              <button type="submit" class="btn btn-danger btn-md"> Cancel Reservation</button>
            </div>
          </form>
</div>
</div>