<div class="row">
<!--    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3"></div>-->
    <div class="col-md-4"></div>
    <div class="jumbotron col-md-4">
        <h2>Checkout</h2>
        <h4>Your Total: ${{existuser.cart.totalPrice}}</h4>
        <div id="charge-error" class="alert alert-danger invisible"></div>
        
        <form ng-submit="checkout(payer)" enctype="multipart/form-data">  
            <div class="form-group">
            <label class="control-label">Full Name</label>
                <input placeholder="Name" type="text" class="form-control" ng-model="payer.name" required >
            </div>
            <div class="form-group">
            <label class="control-label">Address</label>
                <input placeholder="Address" type="text" class="form-control" ng-model="payer.address" required >
            </div>
            <div class="form-group">
            <label class="control-label">Contact No.</label>
                <input placeholder="Contact" type="text" class="form-control" ng-model="payer.contact" required >
            </div>
            <button type="submit" class="btn btn-success">Paypal now</button>
        </form>
    </div>
    <div class="col-md-4"></div>
<!--    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3"></div>-->
</div>