  <!-- Welcome -->
  <section class="section-welcome bg1-pattern p-t-120 p-b-105">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-t-45 p-b-30">
          <div class="wrap-text-welcome t-center">
            <span class="tit2 t-center">
              Indian Restaurant
            </span>

            <h3 class="tit3 t-center m-b-35 m-t-5">
              SAT SRI AKAL
            </h3>

            <p class="t-center m-b-22 size3 m-l-r-auto">
              Known across the country for its delectable Frontier, Punjabi & Lucknowi food, PIND BALLUCHI is a name that spells exhilaration and satisfaction. With over two decades of journey in the hospitality industry, the brand has made a mark for itself.
            </p>

            <a href="#/about" class="txt4">
              Our Story
              <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="col-md-6 p-b-30">
          <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
            <img src="./public/images/man.png" alt="IMG-OUR">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Intro -->
  <section class="section-intro">
    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(./public/images/bg-intro-02.jpg);">
      <span class="tit2 p-l-15 p-r-15">
        Discover
      </span>

      <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
        Pind Baluchi
      </h3>
    </div>

    <div class="content-intro bg-white p-t-77 p-b-133">
      <div class="container">
        <div class="row">
          <div class="col-md-5 p-t-30">
            <!-- Block1 -->
            <div class="blo1">
              <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                <a href=""><img src="./public/images/intro-01.jpg" alt="IMG-INTRO"></a>
              </div>

              <div class="wrap-text-blo1 p-t-35">
                <a href=""><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                  Village Ambience
                </h4></a>

                <p class="m-b-20">
                  Pind Baluchi gives their customer a village type environment by making its surrounding just like that, by using khatiya instead of chairs, bu using handi to serve food instead of any pan or any other serving utensils.
                </p>

                <a href="" class="txt4">
                  Learn More
                  <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5 p-t-30">
            <!-- Block1 -->
            <div class="blo1">
              <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                <a href=""><img src="./public/images/intro-02.jpg" alt="IMG-INTRO"></a>
              </div>

              <div class="wrap-text-blo1 p-t-35">
                <a href=""><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                  Delicious Food
                </h4></a>

                <p class="m-b-20">
                  Pind Baluchi is very famous for their north indian food specially north indian style chicken
                </p>

                <a href="" class="txt4">
                  Learn More
                  <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Our menu -->
  <section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
    <div class="container">
      <div class="title-section-ourmenu t-center m-b-22">
        <span class="tit2 t-center">
          Discover
        </span>

        <h3 class="tit5 t-center m-t-2">
          Our Menu
        </h3>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-sm-4">
              <!-- Item our menu -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="./public/images/shahipaneer.jpg" alt="IMG-MENU">

                <!-- Button2 -->
                <a href="" class="btn2 flex-c-m txt5 ab-c-m size4">
                  Lunch
                </a>
              </div>
            </div>

            <div class="col-sm-4">
              <!-- Item our menu -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="./public/images/chickenmughlai.jpg" alt="IMG-MENU">

                <!-- Button2 -->
                <a href="" class="btn2 flex-c-m txt5 ab-c-m size5">
                  Dinner
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <!-- Item our menu -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="./public/images/paneertikka.jpg" alt="IMG-MENU">

                <!-- Button2 -->
                <a href="" class="btn2 flex-c-m txt5 ab-c-m size8">
                  Starters
                </a>
              </div>
            </div>

            <div class="col-sm-4">
              <!-- Item our menu -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="./public/images/gulabjamun.jpg" alt="IMG-MENU">

                <!-- Button2 -->
                <a href="" class="btn2 flex-c-m txt5 ab-c-m size9">
                  Dessert
                </a>
              </div>
            </div>
             <div class="col-sm-4">
              <!-- Item our menu -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="./public/images/pappad.jpg" alt="IMG-MENU">

                <!-- Button2 -->
                <a href="" class="btn2 flex-c-m txt5 ab-c-m size9">
                  Extra
                </a>
              </div>
            </div>

            <div class="col-sm-4">
              <!-- Item our menu -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="./public/images/tandoriroti.jpg" alt="IMG-MENU">

                <!-- Button2 -->
                <a href="" class="btn2 flex-c-m txt5 ab-c-m size6">
                  Breads
                </a>
              </div>
            </div>
          </div>
        </div>

          </div>
        </div>
      </div>

    </div>
  </section>