<!DOCTYPE html>
<html ng-app="pind">
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="icon" type="image/png" href="./public/images/icons/favicon.png"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/fonts/themify/themify-icons.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/vendor/animate/animate.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/vendor/select2/select2.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/vendor/slick/slick.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/util.css">
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/main.css">
<!--===============================================================================================-->
<script type="text/javascript" src="./public/javascripts/angular.min.js"></script>
   <script type="text/javascript" src="./public/javascripts/angular-route.min.js"></script>
<script type="text/javascript" src="./public/javascripts/angularapp.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascript/checkout.js"></script>
<!--===============================================================================================-->
</head>
<body class="animsition" ng-controller="restcontrol">

  <!-- Header -->
  <header>
    <!-- Header desktop -->
    <div class="wrap-menu-header gradient1 trans-0-4">
      <div class="container h-full">
        <div class="wrap_header trans-0-3">
          <!-- Logo -->
          <div class="logo">
            <a href="#/">
              <img src="./public/images/icons/logo.png" alt="LOGO" data-logofixed="./public/images/icons/logo.png" style=" width: 100px;">
            </a>
          </div>

          <!-- Menu -->
          <div class="wrap_menu p-l-45 p-l-0-xl">
            <nav class="menu">
              <ul class="main_menu">
                <li>
                  <a href="#/">Home</a>
                </li>

                <li>
                  <a href="#/user">Food Order</a>
                </li>
                <li>
                  <a href="#/gallery">Gallery</a>
                </li>

                <li>
                  <a href="#/about">About</a>
                </li>

                <li>
                  <a href="#/contact">Contact</a>
                </li>
                <li ng-show="currentUser">
                  <a href="#/cart">Cart</a>
                </li>
                <li ng-show="currentUser">
                  <a href="" ng-click="logout()">Logout</a>
                </li>
              </ul>
            </nav>
          </div>

          <!-- Social -->
          <div class="social flex-w flex-l-m p-r-20">
            <a href=""><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

            <button class="btn-show-sidebar m-l-30 trans-0-4"></button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Sidebar -->
  <aside class="sidebar trans-0-4">
    <!-- Button Hide sidebar -->
    <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

    <!-- - -->
    <ul class="menu-sidebar p-t-95 p-b-70">
      <li class="t-center m-b-13">
        <a href="#/" class="txt19">Home</a>
      </li>
      <li class="t-center m-b-13">
        <a href="#/gallery" class="txt19">Gallery</a>
      </li>

      <li class="t-center m-b-13">
        <a href="#/about" class="txt19">About</a>
      </li>

      <li class="t-center m-b-33">
        <a href="#/contact" class="txt19">Contact</a>
      </li>

      <li class="t-center">
        <!-- Button3 -->
        <a href="#/user" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
          Food Order
        </a>
      </li>
    </ul>

    <!-- - -->
    <div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
      <!-- - -->
      <h4 class="txt20 m-b-33">
        Gallery
      </h4>

      <!-- Gallery -->
      <div class="wrap-gallery-sidebar flex-w">
        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-01.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-01.jpg" alt="GALLERY">
        </a>

        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-02.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-02.jpg" alt="GALLERY">
        </a>

        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-03.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-03.jpg" alt="GALLERY">
        </a>

        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-05.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-05.jpg" alt="GALLERY">
        </a>

        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-06.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-06.jpg" alt="GALLERY">
        </a>

        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-07.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-07.jpg" alt="GALLERY">
        </a>

        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-09.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-09.jpg" alt="GALLERY">
        </a>

        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-10.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-10.jpg" alt="GALLERY">
        </a>

        <a class="item-gallery-sidebar wrap-pic-w" href="./public/images/photo-gallery-11.jpg" data-lightbox="gallery-footer">
          <img src="./public/images/photo-gallery-thumb-11.jpg" alt="GALLERY">
        </a>
      </div>
    </div>
  </aside>
  <!-- Slide1 -->
  <section class="section-slide">
    <div class="wrap-slick1">
      <div class="slick1">
        <div class="item-slick1 item1-slick1" style="background-image: url(./public/images/slides-04.jpg);">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
              Welcome to
            </span>

            <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp" style="font-size: 46px;">
              North Indian Food Village
            </h2>

            <div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
              <!-- Button1 -->
              <a href="#/user" class="btn1 flex-c-m size1 txt3 trans-0-4">
                Look Menu
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick1 item2-slick1" style="background-image: url(./public/images/slide1-01.jpg);">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
              Welcome to
            </span>

            <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn" style="font-size: 46px;">
              North Indian Food Village
            </h2>

            <div class="wrap-btn-slide1 animated visible-false" data-appear="slideInUp">
              <!-- Button1 -->
              <a href="#/user" class="btn1 flex-c-m size1 txt3 trans-0-4">
                Look Menu
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick1 item3-slick1" style="background-image: url(./public/images/slides-05.jpg);">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
              Welcome to
            </span>

            <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight" style="font-size: 46px;">
              North Indian Food Village
            </h2>

            <div class="wrap-btn-slide1 animated visible-false" data-appear="rotateIn">
              <!-- Button1 -->
              <a href="#/user" class="btn1 flex-c-m size1 txt3 trans-0-4">
                Look Menu
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="wrap-slick1-dots"></div>
    </div>
  </section>
  <div class="ng-view">
  </div>
  <br>

<!-- Review -->
  <section class="section-review p-t-115">
    <!-- - -->
    <div class="title-review t-center m-b-2">
      <span class="tit2 p-l-15 p-r-15">
        Customers Say
      </span>

      <h3 class="tit8 t-center p-l-20 p-r-15 p-t-3">
        Review
      </h3>
    </div>

    <!-- - -->
    <div class="wrap-slick3">
      <div class="slick3">
        <div class="item-slick3 item1-slick3">
          <div class="wrap-content-slide3 p-b-50 p-t-50">
            <div class="container">
              <div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
                <img src="./public/images/avatar-01.png" alt="IGM-AVATAR">
              </div>

              <div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
                <p class="t-center txt12 size15 m-l-r-auto">
                  “ Always the best taste where ever I go for pind balluchi . No disappointment at all . Best biryani, best chicken, best naan it really gives the feel of North and regenerates taste to the soul. ”
                </p>

                <div class="star-review fs-18 color0 flex-c-m m-t-12">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                </div>

                <div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
                  Akash Jaiswal ˗ Noida
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item-slick3 item2-slick3">
          <div class="wrap-content-slide3 p-b-50 p-t-50">
            <div class="container">
              <div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
                <img src="./public/images/avatar-02.png" alt="IGM-AVATAR">
              </div>

              <div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
                <p class="t-center txt12 size15 m-l-r-auto">
                  “ My go to place for every family dinner! The starters (veg/non-veg) are all mouth watering. The main course and the variety of available food options make it a perfect place for authentic Punjabi dishes! ”
                </p>

                <div class="star-review fs-18 color0 flex-c-m m-t-12">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                </div>

                <div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
                  Tanya Mehra ˗ Mumbai
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item-slick3 item3-slick3">
          <div class="wrap-content-slide3 p-b-50 p-t-50">
            <div class="container">
              <div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
                <img src="./public/images/avatar-03.png" alt="IGM-AVATAR">
              </div>

              <div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
                <p class="t-center txt12 size15 m-l-r-auto">
                " Ambience here is very good. Service here is very good and the food was amazing. A perfect place to have nice dinner or lunch with your friend or family "
                </p>

                <div class="star-review fs-18 color0 flex-c-m m-t-12">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                </div>

                <div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
                  Neha Upadhyay ˗ New Delhi
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="wrap-slick3-dots m-t-30"></div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bg1">
    <div class="container p-t-40 p-b-70">
      <div class="row">
        <div class="col-sm-6 col-md-4 p-t-50">
          <!-- - -->
          <h4 class="txt13 m-b-33">
            Contact Us
          </h4>

          <ul class="m-b-70">
            <li class="txt14 m-b-14">
              <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
              F-45, South City 1, Near Unitech Tower, Gurugram- 122001, Haryana, India
            </li>

            <li class="txt14 m-b-14">
              <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
              0124-4830400
            </li>

            <li class="txt14 m-b-14">
              <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
              feedback@pindballuchi.com
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-2 p-t-50">
          <!-- - -->
          <h4 class="txt13 m-b-32">
            Opening Times
          </h4>

          <ul>
            <li class="txt14">
              06:30 PM – 11:30 PM
            </li>

            <li class="txt14">
              Every Day
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-2"></div> 

        <div class="col-sm-6 col-md-4 p-t-50">
          <!-- - -->
          <h4 class="txt13 m-b-38">
            Gallery
          </h4>

          <!-- Gallery footer -->
          <div class="wrap-gallery-footer flex-w">
            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-01.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-01.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-02.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-02.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-03.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-03.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-04.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-04.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-05.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-05.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-06.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-06.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-07.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-07.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-08.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-08.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-09.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-09.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-10.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-10.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-11.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-11.jpg" alt="GALLERY">
            </a>

            <a class="item-gallery-footer wrap-pic-w" href="./public/images/photo-gallery-12.jpg" data-lightbox="gallery-footer">
              <img src="./public/images/photo-gallery-thumb-12.jpg" alt="GALLERY">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="end-footer bg2">
      <div class="container">
        <div class="flex-sb-m flex-w p-t-22 p-b-22">
          <div class="p-t-5 p-b-5">
            <a href="" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
            <a href="" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
          </div>

          <div class="txt17 p-r-20 p-t-5 p-b-5">
            Copyright &copy; 2018 All rights reserved-MasterPRS
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Back to top -->
  <div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
  </div>

  <!-- Container Selection1 -->
  <div id="dropDownSelect1"></div>

</body>
<!--===============================================================================================-->
<script type="text/javascript" src="./public/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->

  <script type="text/javascript" src="./public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script type="text/javascript" src="./public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script type="text/javascript" src="./public/vendor/bootstrap/js/popper.js"></script>
  <script type="text/javascript" src="./public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->

  <script type="text/javascript" src="./public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script type="text/javascript" src="./public/vendor/daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="./public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
  <script type="text/javascript" src="./public/vendor/slick/slick.min.js"></script>
  <script type="text/javascript" src="./public/javascripts/slick-custom.js"></script>
<!--===============================================================================================-->
  <script type="text/javascript" src="./public/vendor/parallax100/parallax100.js"></script>
  <script type="text/javascript">
        $('.parallax100').parallax100();
  </script>
<!--===============================================================================================-->
  <script type="text/javascript" src="./public/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
  <script type="text/javascript" src="./public/vendor/lightbox2/js/lightbox.min.js"></script>
  <script type="text/javascript" src="./public/javascripts/main.js"></script>
<!--===============================================================================================-->
</html>
