<div class="row">
<div class="col-md-4"></div>
<div class="jumbotron col-md-4">
<br>
            <h3><strong>Table Reservation</strong></h3>
            <hr>
          <form ng-submit="tablereserve(reserve)">
          <div class="form-group">
            <label class="control-label">Full Name</label>
            <input type="text" placeholder= "Name" ng-model="reserve.name" class="form-control">
            <br>
            </div>
            <div class="form-group">
            <label class="control-label">Contact</label>
            <input type="text" placeholder="Phone Number" ng-model="reserve.contact" class="form-control">
            </div>
            <br>
            <div class="form-group">
            <label class="control-label">Code Name</label>
            <input type="text" placeholder="Code Name" ng-model="reserve.codename" class="form-control">
            </div>
            <br>
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-md"> Make Reservation</button>
            </div>
          </form>
</div>
</div>