<div class="jumbotron" style="align:'center'">
      <h2>Restaurant Table Reservation </h2>
      <hr>
      <h5> We only have few {{tablescount}} tables left! Reserve now! </h5>
      <br>
      <a href="#/reserve" type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Make Reservation</a>
     <a href="#/cancel"><button type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-plus"></span> Cancel Reservation </button></a>
    </div>